<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Login"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register"
            android:label="Register">
        </activity>
        <activity android:name=".opmenu"
            android:label="@string/menu">
        </activity>
        <activity android:name=".sendEmail"
            android:label="@string/mail">
        </activity>
        <activity android:name=".profile"
            android:label="Profile">
        </activity>
        <activity android:name=".AddNote"
            android:label="Add Note">
        </activity>
    </application>

</manifest>